:root {
    --color-fg-primary: #cbe1e7;
    --color-bg-primary: #1e1c31;
    --color-btn-color: #62d196;
}

*, *::before, *::after {
    box-sizing: border-box;
    transition: 0.15s ease-in-out;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--color-fg-primary);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #906cff;
}

a:hover {
    color: #aa00ff;
}

h1, h2, h3, h4, h5, h6 {
    color: #65b2ff;
}

.main {
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.searchbar {
    background-color: #141228;
    border: none;
    border-radius: 0.5rem;
    color: var(--color-fg-primary);
    font-size: 1rem;
    padding: 1rem;
    width: 30rem;
}

@media screen and (max-width: 500px) {
    .searchbar {
        width: 90%;
    }
}

.searchbar:focus {
    background-color: transparent;
    border: none;
}

.bm {
    color: var(--color-btn-color);
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
}

.bm:hover {
    color: #906cff;
}

.list {
    list-style: none;
    margin: 2rem 0;
    padding: 0rem;
}

.footer {
    bottom: 0;
    padding: 2rem;
    position: fixed;
    right: 0;
    white-space: nowrap;
}

.border-bottom {
    border-bottom: 0.0625rem solid var(--color-fg-primary);
}

.center-text {
    text-align: center;
}
